#main {
	height: 233px;
	margin-top: 89px;
	display: inline-block;
	position: relative;
}

#logo {
	position: fixed;
	left: 50%;
	transform: translate(-50%);
}

#searchArea {
	width: 570px;
	height: 35px;
}

footer {
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	line-height: 40px;
	font-size: 10pt;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	-moz-appearance: none;
}

#leftSide {
	margin-left: 30px;
	white-space: nowrap;
}

#rightSide {
	margin-right: 30px;
	white-space: nowrap;
	float: right;
}

.footerButtons {
	display: inline-block;
	color: #666;
	margin: 0;
	padding-left: 27px;
	font-family: arial, sans-serif;
	text-decoration: none;
}